<div class="container-fluid">
    <div class="row g-0">
        <div class="col-md-9">
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
                     <img src="../../../../../assets/images/slider1.jpg" class="w-100" height="400px" />
                </ng-template>  
                <ng-template carouselSlide>
                    <img src="../../../../../assets/images/slider2.jpg" class="w-100" height="400px" />
               </ng-template> 
               <ng-template carouselSlide>
                <img src="../../../../../assets/images/slider3.jpg" class="w-100" height="400px" />
               </ng-template> 
            </owl-carousel-o>
           

        </div>
    <div class="col-md-3">
        <img src="../../../../../assets/images/slider5.jpg" class="w-100" height="200px" />
        <img src="../../../../../assets/images/slider6.jpg" class="w-100" height="200px" />
        
    </div>
    </div>
</div>